{% extends 'base.html.twig' %}

{% block title %}Website index{% endblock %}

{% block body %}
    <h1>Website index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Planete</th>
                <th>Industrie</th>
                <th>Company</th>
                <th>Creér à</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for website in websites %}
            <tr>
                <td>{{ website.id }}</td>
                <td>{{ website.name }}</td>
                <td>{{ website.industrie }}</td>
                <td>{{ website.createdAt ? website.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ website.company }}</td>
                <td>
                    <a href="{{ path('website_show', {'id': website.id}) }}">show</a>
                    <a href="{{ path('website_edit', {'id': website.id}) }}">edit</a>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('website_new') }}">Create new</a>

    <a href="{{ path('company_index') }}">Create new Company</a>
{% endblock %}