
  {% block title %}Les planetes{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" media="screen and (min-width: 640px)" href="{{ asset('bundles/easyadmin/stylesheet/desktop.css') }}">
        <link rel="stylesheet" media="screen and (max-width: 639px)" href="{{ asset('bundles/easyadmin/stylesheet/mobile.css') }}">
        <link rel="stylesheet" href="styles/font.css">
        <link rel="stylesheet" media="screen and (max-width: 639px)" href="{{ asset('bundles/easyadmin/stylesheet/presets_mobile.css') }}">
        <link rel="stylesheet" media="screen and (min-width: 640px)" href="{{ asset('bundles/easyadmin/stylesheet/presets_desktop.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{{ asset('bundles/easyadmin/stylesheet/styles.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/easyadmin/stylesheet/flexboxgrid.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/planetes.css') }}">
    {% endblock %}
{% block body %}
<body>

  <section class="firstPlanet">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="content">
            <div class="titleContainer right">
              <h4 class="industry">INDUSTRIE SIDÉLURGIQUE</h4>
              <h2 class="planetName">NIDAVELLIR</h2>
            </div>
            <div class="picContainer">
            <img class="pic left first" src="{{ asset('bundles/easyadmin/img/Nidavellir.png') }}" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <p class="planetDescription right">Nidavellir est une planète riche en minerai. Elle permet notamment la métallurgie extractive du cuivre est l'ensemble des opérations permettant la fabrication métallique à partir de minerai. <br> <br> Les matières présentent sur cette planète
            sont l’unobtanium, l’adamantanium, le gundamium et le gallium.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="blueLine"></div>
  <div class="beigeLine"></div>


  <section class="firstPlanet">
    <div class="container ">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <div class="titleContainer">
              <h4 class="industry">INDUSTRIE PHARMACEUTIQUE</h4>
              <h2 class="planetName">KAMINO</h2>
            </div>
            <img class="pic" src="{{ asset('bundles/easyadmin/img/Kamino.png') }}" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <p class="planetDescription">Kamino est une planète gazeuse composée essentiellement de gaz légers tel que l'hydrogène ou l'hélium. <br> <br> Les produits manufacturés et matières premières que l’on peut retrouver sur cette planète sont la kryptonite, la calysténe, le vibranium,
            le fluoxytus ainsi que le magnésium et l’acide salicylique.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="beigeLine"></div>
  <div class="orangeLine"></div>


  <section class="firstPlanet">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <div class="titleContainer right">
              <h4 class="industry">INDUSTRIE PÉTROLIÈRE</h4>
              <h2 class="planetName">SAKAAR</h2>
            </div>
            <img class="pic left" src="{{ asset('bundles/easyadmin/img/Sakaar.png') }}" alt="">
          </div>
          <p class="planetDescription right">La planète Sakaar est tellurique en opposition aux planètes gazeuses et aux planètes composé essentiellement de roches et de métal. Sa surface est solide et composé de matériaux non volatils. <br> <br> Elle dispose de l'enssemble des ressources
            nécessaires au fonctionnement d'un système pétrolier. En effet son sous sol regorge de matière organique. Les matières présentent sont le mandalorien, le tibana, le latinium et le palitrolium.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="blackLine"></div>
  <div class="blueLine"></div>

  <section class="firstPlanet">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <div class="titleContainer">
              <h4 class="industry">INDUSTRIE DU TEXTILE</h4>
              <h2 class="planetName">ALPHA</h2>
            </div>
            <img class="pic" src="{{ asset('bundles/easyadmin/img/Alpha.png') }}" alt="">
          </div>
          <p class="planetDescription">Alpha rassemble l'ensemble des conditions naturelles et culturelles qui constitue la production de matière organique et synthétique. <br> <br> Les produits manufaturés que l'on trouve sur cette planète sont la laine et le coton. <br> <br> En
            terme de matières premières, l’orichalque, l’ébonite, le polyestium, et le zyrtex y sont produites.
          </p>
        </div>
      </div>
    </div>
  </section>


  <div class="blueLine"></div>
  <div class="beigeLine"></div>

  <section class="firstPlanet">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <div class="titleContainer right">
              <h4 class="industry">INDUSTRIE AGROALIMENTAIRE</h4>
              <h2 class="planetName">XANDAR</h2>
            </div>
            <img class="pic left" src="{{ asset('bundles/easyadmin/img/Xandar.png') }}" alt="">
          </div>
          <p class="planetDescription right">Xandar est réputé pour sa terre arable propice aux cultures maraîchères et céréalières. <br> <br> Les produits manufaturés et matières premières que l’on trouve sur cette planète sont l’engrais chimiques, le fourrage, le bifröst, le granitium,
            le tomacco et le cluseol.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="beigeLine"></div>
  <div class="orangeLine"></div>

  <section class="firstPlanet">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <div class="titleContainer">
              <h4 class="industry">INDUSTRIE DU RECYCLAGE</h4>
              <h2 class="planetName">MUSTAFAR</h2>
            </div>
            <img class="pic first" src="{{ asset('bundles/easyadmin/img/Mustafar.png') }}" alt="">
          </div>
          <p class="planetDescription">La magmatique planète Mustafar est riche en énergie. Son environnement est idéal pour le recyclage. <br> <br> L’uradium, le lastacier, la carbonite le xalitium ainsi que les copeaux et le broyeur plastique sont les matières premières et les
            produis manufacturés que l’on retrouve sur Mustafar.
          </p>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
{% endblock %}
