{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

            <section class="containerC">
  <div class="company">
    <img class="companyLogo" src="https://images.unsplash.com/photo-1529973162914-629bc610ef31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c779bcd2717ec25d3cd6d9776690f5e&auto=format&fit=crop&w=334&q=80" alt="">
    <div class="companyHeader">
    <p class="companyName">{{ company.nameCompany }}({{ company.name }})  -  &nbsp;</p>
    <p class="companyType">{{ company.type }}</p>
      </div>
    <p class="companyType">{{ company.mail }}</p>
    <p></p>
  </div>
  
   <div class="companySite">
    <div class="siteContainer">
      <p>{{company.planete}}</p>
      <p>{{ company.industries}}</p>
      <p>{{ company.createdAt ? company.createdAt|date('Y-m-d') : '' }}</p>
      <a href="{{ path('company_edit', {'id': company.id}) }}">Modifier</a>
      </div>
      {% for site in site %}
      <div class="siteContainer">
       <p>{{ site.name }}</p>
      <p>{{ site.industrie }}</p>
      <p>{{ site.createdAt ? site.createdAt|date('Y-m-d') : '' }}</p>
      <p>{{ site.statut }}</p></br>
      {# <a href="{{ path('website_show') }}">Show website</a> </br> #}
      </div>
      {% endfor %}
</div>
</section>
            

    <a href="{{ path('company_index') }}">Voir la liste des entreprise</a>

    <a href="{{ path('company_edit', {'id': company.id}) }}">Modifier</a>

    <a href="{{ path('website_new') }}">Create new website</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}